body {
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/concrete_seamless.png");
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

header {
  height: 75px;
  width: 100%;
  margin: auto;
  background-color: #ffffff;
  border-bottom: #cccccc 1px solid;
}

.logo {
  float: left;
  background-color: #4aaaaf;
  color: #ffffff;
  margin: auto;
  margin-left: 195px;
}

.logo > a {
  text-decoration: none;
  color: #ffffff;
}

nav {
  background-color: #ffffff;
  color: #777777;
  text-align: right;
  float: right;
  margin: 20px;
  margin-right: 140px;
}

nav > a {
  text-decoration: none;
  color: #777777;
  padding: 15px;
}

#main {
  background-color: #ffffff;
  width: 960px;
  margin: 20px 0px 20px 195px;
  padding: 20px;
  border: 1px solid #dddddd;
}

#main-portfolio {
  background-color: #ffffff;
  width: 960px;
  margin: 20px 0px 20px 195px;
  padding: 20px;
  border: 1px solid #dddddd;
  height: 600px;
}

#main-contact {
  background-color: #ffffff;
  width: 600px;
  margin: 20px 0px 20px 350px;
  padding: 20px;
  height: 450px;
  border: 1px solid #dddddd;
}

input[type="text"],
input[type="email"],
input[type="name"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

#contact-form {
  padding: 20px;
}

li {
  padding: 5px;
}

#main > h1 {
  border-bottom: #dddddd 2px solid;
}

#main > p {
  text-align: justify;
  line-height: 1.5;
}

p {
  line-height: 2;
}

#section > img {
  width: 150px;
  height: 200px;
  float: left;
  margin: 0px 20px 0px 0px;
}

footer {
  background-color: #666666;
  color: #ffffff;
  height: 40px;
  margin-top: 58px;
  border-top: #4aaaaf 5px solid;
  padding-top: 35px;
  width: 100%;
}

footer > .container {
  text-align: center;
  padding-top: 10px;
}

.work > img {
  height: 200px;
  width: 200px;
}

.work {
  float: left;
  margin: 20px;
}

@media screen and (min-width: 980px) {
  header {
    width: 100%;
    margin: 0px;
  }

  #main {
    width: 800px;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 979px) {
  #main {
    width: 600px;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 894px) {
  nav {
    margin-right: 90px;
    margin-top: 30px;
  }

  #main {
    width: 500px;
    margin: auto;
    margin-top: 20px;
  }
}

@media screen and (max-width: 844px) {
  .logo {
    width: 100%;
    margin: auto;
    padding: 0px;
    text-align: center;
  }

  nav {
    width: 100%;
    margin: auto;
    height: 40px;
    padding-top: 20px;
    text-align: center;
  }

  #main {
    margin: auto;
    margin-top: 100px;
  }
}

@media screen and (max-width: 753px) {
  .logo {
    width: 100%;
    margin: auto;
    padding: 0px;
    text-align: center;
  }

  nav {
    width: 100%;
    margin: auto;
    height: 40px;
    padding-top: 20px;
    text-align: center;
  }

  #main {
    margin: auto;
    margin-top: 100px;
    width: 400px;
  }
}

@media screen and (max-width: 458px) {
  .logo {
    width: 100%;
    margin: auto;
    padding: 0px;
    text-align: center;
  }

  nav {
    width: 100%;
    margin: auto;
    height: 40px;
    padding-top: 20px;
    text-align: center;
  }

  #main > #section > img {
    clear: both;
  }

  #main {
    margin: 0px;
    margin-top: 100px;
    width: 100%;
    padding: 10px;
  }
}

/* @media only screen and (max-width: 768px) {
  #main {
    background-color: #ffffff;
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #dddddd;
    margin-top: 20px;
  }

  .logo {
    margin-left: 100px;
  }

  nav {
    margin-right: 90px;
    margin-top: 30px;
  }

  body {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .logo {
    width: 100%;
    margin: auto;
    padding: 0px;
    text-align: center;
  }

  #main {
    margin-top: 100px;
  }

  #main > #section > img {
    width: 200px;
    height: 300px;
    margin: 50px;
  }

  nav {
    width: 100%;
    margin: auto;
    align-content: center;
    height: 40px;
    padding: 20px 150px 0px 0px;
  }
} */
